.DS_store

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.snm
*.synctex.gz
*.tdo
*.thm
*.toc
*.vrb

# LaTeX Workshop specific files
*.pdf
*.synctex.gz
*.fls
*.fdb_latexmk
*.synctex
*.synctex(busy)

# TeX Live specific files
texlive/*

# python
__pycache__/
simulations/results/*.png

# Pdf I need
!Reconfigurable_Intelligent_Surface_Reflection_Design_Against_Passive_Eavesdropping.pdf
!Space_shift_keying_modulation_for_MIMO_channels.pdf
!Cascaded Channel_Estimation_for_Large_Intelligent_Metasurface_Assisted_Massive_MIMO.pdf
!Linear_Precoding_for_Finite-Alphabet_Signaling_Over_MIMOME_Wiretap_Channels.pdf